#add-visit-wrapper {
    margin-left: 0%;
    max-width: 900px;
    align-items: center;
    text-align: center;
    padding: 0.5em; 
}

#add-visit {
    text-align: center;
}

#add-to-medical-history {
    font-weight: bold;
    font-size: large;
}

#entry-imaging {
    width: 25vh; 
    border-width: 0px;
}

#id_summary {
    width: 100%;
}

#button-bar {
    margin-left: 5%;
    width: 90%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-bar > a > button {
    font-weight: 700;
    color: white;
    border: none;
    padding: 5px 2em;
    box-shadow: 1px 1px 4px var(--dark-shade-color);
}

#edit-button {
    margin-left: 80%;
}


/* .back-button-box {
    width: 15%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.back-button-box > a > button {
    font-weight: 700;
    color: white;
    border: none;
    padding: 5px 2em;
    box-shadow: 1px 1px 4px var(--dark-shade-color);
} */
