.patient-photo {
  width: 30%; 
  float:left;
  padding-left:10px;
}
.container-fluid {
  text-align: left;
  float:right;
  padding-right:10px;
}

.personal{
  height: 25%;
  max-height: 300px;
  max-width: 980px;
}

#allergies-box {
  width: 90%;
  height: 40px;
  background-color: #BFE2F1;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
}

#past-medical-history-and-presentation-box {
  height: 40vh;
  width: 100%;
  /* display: flex;   */
}

#main-past-medical-history-box {
  width: 100%;
  height: 100%; 
}

#main-past-medical-history-box ul {
  list-style-type: none;
  width : 100%;
  overflow-y: scroll;
  /* max-width: 700px; */
}

/* #patient-medical-history-add-entry {
  max-width: 700px;
} */

.past-medical-history-entry {
  background-color: var(--info-bg-color);
  color: black;
}

.past-medical-history-discharge-date {
  width: 20%;
  font-size: 1.1em;
}

.past-medical-history-summary {
  width: 15%;
  font-size: 1.1em;
}


#main-current-medication-box {
  padding-top: 2em;
  max-height: 35vh;
  background-color: #FFFFFF;
}

#main-current-medication-box-headers {
  display: flex;
}

#main-current-medication-box h2 {
  flex: 4;
  margin-bottom: 0 !important;
}

#main-current-medication-box button {
  font-size: 1.2em;
  flex: 1;
  margin: 0 1%;
  color: white;
  border-width: 0;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
}

.main-medication-box-table {
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr 1fr 2fr 1fr;
}

#print-button {
  background-color: #E27CA1;
}

#prev-button {
  background-color: #A1DADE;
}
