.back-button-box {
  width: 15%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button-box > a > button {
  font-weight: 700;
  color: white;
  border: none;
  padding: 5px 2em;
  box-shadow: 1px 1px 4px var(--dark-shade-color);
}

#diary-entry-content {
  padding: 0 2rem;
  font-size: 1.3em;
  padding-top: 1.5rem;
  text-align: justify;
}